X_API_KEY=
OPENAI_API_KEY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
RABBITMQ_USER=
RABBITMQ_PASS=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET=

DATABASE_URL=
BROKER_URL=
REDIS_URL=
OLLAMA_BASE_URL=
FRONTEND_URL=

ENVIRONMENT=
AWS_REGION=
SQS_QUEUE_URL=